<form [formGroup]="projectForm" (ngSubmit)="submit()" class="my-form">
  <div class="form-group">
    <input formControlName="title" placeholder="Project Name" class="form-control">
  </div>
  <div class="form-group">
    <input formControlName="description" placeholder="Description" class="form-control">
  </div>
<button *ngIf="!isUpdateValue" type="submit" class="btn custom-button">Submit</button>
<button *ngIf="isUpdateValue" type="button" class="btn custom-button" (click)="edit(currentId, formType)">Edit</button>

</form>
